ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: green;
}
.navigation {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
  padding-right: 1rem;
}
.nav__button {
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: none;
  cursor: pointer;
}
.fa-bars,
.fa-xmark {
  font-size: 2rem;
  color: green;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  background-color: white;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.nav__closed {
  display: none;
}

.nav__link {
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
}
.nav__link:hover {
  background-color: azure;
}
@media (min-width: 650px) {
  .navigation {
    position: relative;
    padding-right: 0;
  }
  .nav__button {
    display: none;
  }

  .nav__menu {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    padding-right: 0;
    padding-bottom: 0;
  }
}
